<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai9.dao.mapper.CustomerqinzuanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="MonthResultMap" type="com.weilai9.dao.vo.wechat.QzMonthVo">
        <id column="customerid" property="customerId" />
        <result column="realmoney" property="realmoney" />
    </resultMap>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.weilai9.dao.entity.Customerqinzuan">
        <id column="id" property="id" />
        <result column="customerid" property="customerid" />
        <result column="personcheckvalue" property="personcheckvalue" />
        <result column="personwaitvalue" property="personwaitvalue" />
        <result column="teamcheckvalue" property="teamcheckvalue" />
        <result column="teamwaitvalue" property="teamwaitvalue" />
        <result column="persontodayvalue" property="persontodayvalue" />
        <result column="persontotalvalue" property="persontotalvalue" />
        <result column="teamtodayvalue" property="teamtodayvalue" />
        <result column="teamtotalvalue" property="teamtotalvalue" />
        <result column="personmonthvalue" property="personmonthvalue" />
        <result column="teammonthvalue" property="teammonthvalue" />
        <!--<result column="realmoney" property="realmoney" />-->
        <result column="getmoney" property="getmoney" />
        <result column="cname" property="cname" />
        <result column="cpid" property="cpid" />
        <result column="phone" property="phone" />
        <result column="head" property="head" />
        <result column="sharecount" property="sharecount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,customerid, personcheckvalue, personwaitvalue, teamcheckvalue, teamwaitvalue, persontodayvalue, persontotalvalue, teamtodayvalue, teamtotalvalue, getmoney, cname, cpid, sharecount,phone,head
    </sql>
    <select id="pIncome" resultMap="MonthResultMap">
        SELECT
        cq.customerid,
        IFNULL( ( ( cq.teamcheckvalue * qr.rate ) * 0.01 ) - IFNULL( cr.lowmoney, 0 ), 0 ) realmoney
        FROM
        customerqinzuan cq
        LEFT JOIN (
        SELECT
        cr.customerhid,
        IFNULL( sum( cq.teamcheckvalue * qr.rate * 0.01 ), 0 ) lowmoney
        FROM
        customerqinzuan cq
        LEFT JOIN customerrelation cr ON cq.customerid = cr.customerid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue >= qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]> qr.endvalue
        WHERE
        cr.deep = 1
        AND cr.customerhid = #{cid}
        GROUP BY
        cr.customerhid
        ) cr ON cq.customerid = cr.customerhid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue >= qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]> qr.endvalue
        AND cq.customerid = #{cid}
        LIMIT 1
    </select>

    <select id="tIncome" resultMap="MonthResultMap">
        SELECT
        cr.customerhid,
        sum( cq.teamcheckvalue * qr.rate * 0.01 ) realmoney
        FROM
        customerqinzuan cq
        INNER JOIN customerrelation cr ON cq.customerid = cr.customerid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue >= qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]>  qr.endvalue
        WHERE
        cr.customerhid = #{cid}
        AND cr.deep = 1
        GROUP BY
        cr.customerhid
    </select>

    <select id="teamList" resultType="com.weilai9.dao.entity.Customerqinzuan">
        SELECT
        cq.sharecount,
        cq.customerid,
        cq.teamcheckvalue,
        cq.teamtodayvalue,
        cq.teammonthvalue,
        cq.cname,
        cq.head,
        cq.phone,
        ( cq.teamcheckvalue * qr.rate * 0.01 ) getmoney
        FROM
        customerqinzuan cq
        INNER JOIN customerrelation cr ON cq.customerid = cr.customerid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue <![CDATA[ >= ]]> qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]> qr.endvalue
        WHERE
        cr.customerhid = #{cid}
        AND cr.deep = 1
        ORDER BY
        cq.sharecount DESC limit #{pageno},#{pagesize}
    </select>

    <select id="allProfit">
        UPDATE customerqinzuan cqq
        INNER JOIN (
        SELECT
        cq.customerid,
        IFNULL( ( ( cq.teamcheckvalue * qr.rate * 0.01) ) - IFNULL( cr.lowmoney, 0 ), 0 ) realmoney
        FROM
        customerqinzuan cq
        LEFT JOIN (
        SELECT
        cr.customerhid,
        IFNULL( sum( cq.teamcheckvalue * qr.rate *0.01), 0 ) lowmoney
        FROM
        customerqinzuan cq
        LEFT JOIN customerrelation cr ON cq.customerid = cr.customerid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue <![CDATA[ >= ]]>  qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]> qr.endvalue
        WHERE
        cr.deep = 1
        GROUP BY
        cr.customerhid
        ORDER BY
        customerhid ASC
        ) cr ON cq.customerid = cr.customerhid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue >= qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]> qr.endvalue
        ) cxx ON cqq.customerid = cxx.customerid
        SET cqq.getmoney = cxx.realmoney

    </select>

    <select id="addQZbyType2">
        UPDATE customerqinzuan
        SET personcheckvalue = personcheckvalue + #{qzv},
        persontodayvalue = persontodayvalue +# {qzv},
        teamtodayvalue = teamtodayvalue + #{qzv},
        teamtotalvalue = teamtotalvalue + #{qzv},
        teamcheckvalue = teamcheckvalue + #{qzv}
        WHERE
            customerid =#{cid}
    </select>
    <select id="addQZbyType1">
      UPDATE customerqinzuan
      SET personwaitvalue = personwaitvalue + #{qzv},
        persontodayvalue = persontodayvalue + #{qzv},
        teamtodayvalue = teamtodayvalue + #{qzv},
        teamtotalvalue = teamtotalvalue + #{qzv}
      WHERE
          customerid =#{cid}
    </select>

    <select id="calculationTeamQZBytpye2">
        UPDATE customerqinzuan cq
        INNER JOIN ( SELECT customerhid FROM customerrelation WHERE customerid =#{cid} ) cr
        ON cq.customerid = cr.customerhid
        SET cq.teamtodayvalue = cq.teamtodayvalue + #{qzv},
        cq.teamtotalvalue = cq.teamtotalvalue + #{qzv},
        cq.teamcheckvalue = cq.teamcheckvalue + #{qzv},
        cq.teammonthvalue =cq.teammonthvalue + #{qzv}
        WHERE
	cq.customerid = cr.customerhid
    </select>
    <select id="calculationTeamQZBytpye3">
        UPDATE customerqinzuan cq
        INNER JOIN ( SELECT customerhid FROM customerrelation WHERE customerid =#{cid} ) cr
        ON cq.customerid = cr.customerhid
        SET
        cq.teamcheckvalue = cq.teamcheckvalue + #{qzv},
        cq.teamwaitvalue = cq.teamwaitvalue - #{qzv}
        WHERE
	cq.customerid = cr.customerhid
    </select>

    <select id="calculationTeamQZBytpye1">
        UPDATE customerqinzuan cq
        INNER JOIN ( SELECT customerhid FROM customerrelation WHERE customerid =#{cid} ) cr
        ON cq.customerid = cr.customerhid
        SET cq.teamtodayvalue = cq.teamtodayvalue + #{qzv},
        cq.teamtotalvalue = cq.teamtotalvalue + #{qzv},
        cq.teamwaitvalue = cq.teamwaitvalue + #{qzv},
        cq.teammonthvalue =cq.teammonthvalue + #{qzv}
        WHERE
	cq.customerid = cr.customerhid
    </select>

    <select id="calculationTeamQZ">
        UPDATE customerqinzuan cq
        INNER JOIN ( SELECT customerhid FROM customerrelation WHERE customerid =#{cid} ) cr
        ON cq.customerid = cr.customerhid
        SET cq.teamtodayvalue = cq.teamtodayvalue + #{qzv},
        cq.teamtotalvalue = cq.teamtotalvalue + #{qzv},
        cq.teamcheckvalue = cq.teamcheckvalue + #{qzv}
        WHERE
	cq.customerid = cr.customerhid
    </select>

    <select id="monthlast" resultMap="MonthResultMap">
        SELECT
        cq.customerid,
        IFNULL( ( ( cq.teamcheckvalue * qr.rate ) * 0.01 ) - IFNULL( cr.lowmoney, 0 ), 0 ) realmoney
        FROM
        customerqinzuan cq
        LEFT JOIN (
        SELECT
        cr.customerhid,
        IFNULL( sum( cq.teamcheckvalue * qr.rate * 0.01 ), 0 ) lowmoney
        FROM
        customerqinzuan cq
        LEFT JOIN customerrelation cr ON cq.customerid = cr.customerid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue <![CDATA[ >= ]]> qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]> qr.endvalue
        WHERE
        cr.deep = 1
        GROUP BY
        cr.customerhid
        ORDER BY
        customerhid ASC
        ) cr ON cq.customerid = cr.customerhid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue >= qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]> qr.endvalue
    </select>

    <select id="monthLastCheck">
        UPDATE customerqinzuan cqq
        INNER JOIN (
        SELECT
        cq.customerid,
        IFNULL( ( ( cq.teamcheckvalue * qr.rate ) ) - IFNULL( cr.lowmoney, 0 ), 0 ) realmoney
        FROM
        customerqinzuan cq
        LEFT JOIN (
        SELECT
        cr.customerhid,
        IFNULL( sum( cq.teamcheckvalue * qr.rate ), 0 ) lowmoney
        FROM
        customerqinzuan cq
        LEFT JOIN customerrelation cr ON cq.customerid = cr.customerid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue >= qr.startvalue
        AND cq.teamcheckvalue<![CDATA[ <= ]]> qr.endvalue
        WHERE
        cr.deep = 1
        GROUP BY
        cr.customerhid
        ORDER BY
        customerhid ASC
        ) cr ON cq.customerid = cr.customerhid
        LEFT JOIN qinzuanrate qr ON cq.teamcheckvalue >= qr.startvalue
        AND cq.teamcheckvalue <![CDATA[ <= ]]> qr.endvalue
        ) cxx ON cqq.customerid = cxx.customerid
        SET cqq.getmoney = cqq.getmoney + cxx.realmoney
    </select>

    <select id="reset">
        update customerqinzuan set personcheckvalue=0,teamcheckvalue=0,personmonthvalue=0,teammonthvalue=0
    </select>

</mapper>
