<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weilai9.dao.mapper.StoreMapper">

    <select id="getCommendStoreList" resultType="java.util.Map">
        select storeId,storeName,doorImg from store
        where isRem=1 and state=1
        order by remNum desc
        limit #{num}
    </select>

    <select id="getMaxRemNum" resultType="int">
        select MAX(remNum) from store
    </select>
</mapper>